@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::before,
::after {
    box-sizing: border-box;
} 

html, body {
    overflow-x: hidden;
}

.container {
    max-width: 1160px;
    padding: 0px 15px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/* preloader-body area */

#preloader-body {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:  url('images/preloader.gif') no-repeat center;
    z-index: 9999;
    background-color: #000;
    display: block;
    background-size: 120px;
}

#preloader-body img {
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
}

div#preloader-body span {
    color: yellow;
    display: block;
    transform: translate(-50%, 150%) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
}

/*---------- Start header area--------- */

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrap {
    background: #fff;
    padding: 8px 0;
}

.header-logo-area img {
    width: 135px;
}

.join-sign {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.join-head {
    background: transparent;
    padding: 9px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(116, 116, 116);
}

.join-head:hover {
    background: rgb(230, 227, 227);
    transition: .3s;
    color: #000;
}

.sign-head {
    border: 1.5px solid #0a66c2;
    padding: 9px 25px;
    border-radius: 20px;
    font-weight: 500;
    color: #0a66c2;
    background: transparent;
    position: relative;
}

.sign-head::after {
    position: absolute;
    content: '';
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
    
}

.sign-head:hover {
    background: #eaf4fe;
    transition: .3s;
    border: 1.5px solid transparent;
    cursor: pointer;
}

.sign-head:hover.sign-head::after {
    border: 2px solid #0a66c2;
    transition: .6s;
}


/*------------ End header area------------ */

/*----------- start header bannar area--------- */
.header-bannar-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.header-bannar-right {
    flex-basis: 48%;
}

.header-bannar-left {
    flex-basis: 48%;
}

.header-bannar-right a img {
    max-width: 100%;
}

.hbl-wrap h1 {
    color: rgba(143, 88, 73, 1);
    font-size: 51px;
    font-weight: 300;
    margin-bottom: 40px;
}

.hbl-wrap ul li {
    margin: 18px 0;
    border: 1px solid #ccc;
    display: flex;
    width: 408px;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);
    min-height: 56px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.hbl-wrap ul li:hover {
    box-shadow: 0px 4px 12px rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: .3s;
}

.hbl-wrap ul li a {
    display: flex;
    align-items: center;
    position: relative;
}

.for-right1 {
    position: absolute;
    right: -192%;
    font-size: 25px;
    color: #514a4a;
}

.for-right2 {
    position: absolute;
    right: -95%;
    font-size: 25px;
    color: #514a4a;
}

.for-right3 {
    position: absolute;
    right: -177%;
    font-size: 25px;
    color: #514a4a;
}


/*------------- End header bannar area----------- */


/*--------- Start Explore topics area -----------*/
section.explore-topics-area {
    background: #faf9f7;
    padding: 50px 0;
}

.explore-topics-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-explore {
    width: 43%;
}

.right-explore {
    width: 53%;
}

.left-explore h2 {
    font-size: 51px;
    font-weight: 300;
    color: #000;
}

.right-explore h5 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    margin-bottom: 20px;
}

.right-ex-first {
    display: flex;
    flex-wrap: wrap;
}

.right-ex-first .See-all-explore {
    
    border: solid 1px rgba(0,0,0,0.6);
    padding: 8px 20px;
    margin: 0 10px 10px 0;
    border-radius: 28px;
    display: flex;
    min-height: 56px;
    align-items: center;
    background-color: rgba(0,0,0,0.08);
}

.See-all-explore.see-ex-b-none {
    background-color: rgba(0,0,0,0);
}

.right-ex-first .See-all-explore:hover  {
    cursor: pointer;
    background-color: rgba(0,0,0,0.15);
    transition: .3s;
}

.right-ex-first .See-all-explore:hover a {
    text-decoration: underline;
    transition: .3s;
}

.right-ex-first .See-all-explore:hover strong {
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}

.right-ex-first .See-all-explore strong {
    font-weight: 300;
}

.show-more-explore {
    background: transparent;
    padding: 11px 12px;
    border-radius: 5px;
    display: block;
}

.show-more-explore1 {
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
}

.show-more-explore i {
    display: inline-block;
    margin-left: 7px;
}

.show-more-explore:hover {
    transition: .3s;
    background: rgba(0,0,0,0.08);
}

.show-ex-block {
    width: 100%;
    margin-bottom: 10px;
}

.right-ex-secondary {
    background: transparent;
    padding: 11px 12px;
    border-radius: 5px;
}

.right-ex-first .right-ex-secondary {
    
    border: solid 1px rgba(0,0,0,0.6);
    padding: 8px 20px;
    margin: 0 10px 10px 0;
    border-radius: 28px;
    display: none;
    min-height: 56px;
    align-items: center;
    background-color: rgba(0,0,0,0.08);
}

.See-all-explore.right-ex-secondary a {
    margin-top: 9px;
    display: block;
}

.show-less-hide {
    display: none;
}


/*----------- End Explore topics area -----------*/


/*----------- Start find the job area ------------*/

/* Maximum css task already completed in before( Explore topics) section */

section.explore-topics-area.find-the-job-area {
    background: #fff;
}
/*------------- End find the job area -------------------*/


/*--------------- start post a job area --------------*/

section.post-a-job-area {
    background: #f1ece5;
    padding: 75px 0;
}

.post-a-job-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post-job-left-area {
    width: 44%;
}

.post-job-left-area h2 {
    color: rgba(178, 64, 32, 1);
    font-size: 47px;
    font-weight: 400;
}

.post-job-right-area {
    padding: 18px 28px;
    border: solid 1px rgba(0,0,0,0.6);
    border-radius: 28px;
    margin-left: 30px;
    
}

.post-job-right-area a {
    font-size: 20px;
    display: block;
    color: rgba(0,0,0,0.6);

}

.post-job-right-area:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    transition: .3s;
}

.post-job-right-area:hover a {
    text-decoration: underline;
    transition: .3s;
}
/*------------------ End post a job area ----------------*/


/*------------- Start engineer profile area -------------*/

.after-add-swiper-wrap {
    padding: 70px 0 70px ;
}

.single-profile-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-single-profile {
    width: 48%;
}

.right-single-profile-img {
    width: 48%;
}

.right-single-profile-img img {
    width: 90%;
}

.left-single-profile h2 {
    color: #2977c9;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}

.left-single-profile p {
    color: rgba(0, 0, 0, 0.9);
    font-size: 29px;
    opacity: 0.9;
    font-weight: 300;
    line-height: 45px;
}


/*------- swiper style --------*/

.swiper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
} 

/*-------------- End engineer profile area --------------------*/



/*------------ Start content with people area ------------*/

section.connect-with-people-area {
    padding: 65px 0;
}

.connect-w-people-wrap {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.left-c-people-area {
    width: 48%;
}

.left-c-people-area img {
    width: 60%;
    margin-bottom: 50px;
}

.left-c-people-area h2 {
    font-size: 50px;
    font-weight: 300;
    color: #000;
    opacity: .8;
    margin-bottom: 40px;
}

.left-c-people-area span {
    font-size: 20.5px;
    padding: 15px 26px;
    border: solid 1px rgba(0,0,0,0.6);
    border-radius: 28px;
    display: inline-block;
    color: rgba(0,0,0,0.6);
}

.left-c-people-area span:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    transition: .3s;
    text-decoration: underline;
}

.right-c-people-area {
    width: 48%;
}

.right-c-people-area img {
    width: 60%;
    margin-bottom: 50px;
}

.right-c-people-area h2 {
    font-size: 50px;
    font-weight: 300;
    color: #000;
    opacity: .8;
    margin-bottom: 40px;
}

.choose-title h3 {
    border: 1px solid #bdb7b7;
    padding: 16px 20px;
    font-weight: 400;
    opacity: .8;
    border-radius: 5px;
    width: 65%;
    font-size: 20px;
}

.choose-title h3:hover {
    cursor: pointer;
    transition: .3s;
    background-color: #ebebeb;
}

.choose-single-item {
    width: 65%;
    border: 1px solid hsl(0, 0%, 81%);
    border-radius: 5px;
    padding: 16px;
    max-height: 400px;
    overflow: scroll;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 15%), 0px 0px 2px rgb(0 0 0 / 15%);
    display: none;
    background-color: #fff;
}

.choose-single-visible {
    display: block;
    transition: 2s;
    
}

.each-single-part {
    margin-bottom: 15px;
}

.each-single-part:hover h5{
    cursor: pointer;
    text-decoration: underline;
    transition: .3s;
}

.each-single-part:hover span{
    cursor: pointer;
    text-decoration: underline;
    transition: .3s;
}

.each-single-part h5 {
    font-size: 17px;
    font-weight: 400;
}


.each-single-part span {
    opacity: .8;
    font-size: 15px;
}


.choose-topic {
    position: absolute;
    width: 39%;
}

/*------------- End content with people area ----------------*/


/*-------------- Start lets step area ---------------*/

.lets-step-wrap {
    padding: 60px 0;
}

.youtube-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.link-wrap {
    width: 45%;
}

.lets-rel-wrap {
    width: 53%;
}

.lets-rel-wrap p {
    color: rgba(178, 64, 32, 1);
    font-size: 38px;
}

.lets-rel-wrap {
    background: #8080801c;
    padding: 215px 100px;
    position: absolute;
    left: 39%;
    z-index: -1;
    top: -16%;
}

/*------------- End lets step area -------------------*/



/*----------- Start join colleaue area --------------*/

.last-bannar-wrap img {
    visibility: hidden;
    opacity: 0;
}

section.join-collegue-area {
    position: relative;
    bottom: -195px;
}

.join-collegue-wrap h1 {
    font-size: 50px;
    color: #000;
    font-weight: 300;
    opacity: .9;
    margin-bottom: 50px;
}

.join--colleague-getStart span {
    background-color: #0a66c2;
    color: #fff;
    padding: 16px 22px;
    border-radius: 28px;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
}

.join--colleague-getStart span:hover {
    background-color: #004182;
    cursor: pointer;
    transition: .3s;
    text-decoration: underline;

}

/*------------ End join colleague area ------------------*/


/*------------------ Start last bannar area -----------------*/
section.last-bannar-area {
    background-image: url(images/lastBannarImage.png);
    background-size: cover;
    background-position: center;
}
/*------------ End last bannar area ----------------------*/


/*----------------- Start footer first area ----------------*/

footer.footer-area {
    background: #faf9f7;
    padding: 30px 0;
}

.footer-first {
    background: #faf9f7;
}

footer.footer-area {
    background: #faf9f7;
    padding: 30px 0;
}

.footer-first {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.single-footer {
    width: 19%;
    margin: 0 .5%;
    box-sizing: border-box;
}

.single-footer img {
    width: 40%;
}

.single-footer h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

.single-footer ul li a {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    opacity: .9;
}

.single-footer ul li a:hover {
    color: #0077b5;
    text-decoration: underline;
    transition: .3s;
    opacity: 1;
    font-weight: 500;
}

section.copyright-area {
    padding: 12px 0;
    background: #fff;
}

.copy-wrap p {
    text-align: center;
}

.copy-wrap span:hover {
    cursor: pointer;
}

.hoverColor {
    color: #0077b5;
    font-weight: bold;
}

/*---------------- End footer first area -----------------*/







/*----------------------- Start Linkedin join area ------------------------------
---------------------------------------------------------------------------------*/

.for-body-join {
    background: #f3f2ef;
}

.join-sign-up-wrap {
    width: 600px;
    margin: auto;
    
    padding-top: 25px;
}

.logo-title-first-part-join {
    padding-bottom: 30px;
}

.logo-join {
    width: 125px;
    margin: auto;
    padding-bottom: 18px;
}

.logo-join img {
    width: 100%;
}

.join-title h1 {
    font-size: 34px;
    font-weight: 400;
    opacity: .9;
}

.join-second-part {
    background: #fff;
    width: 405px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 30px;
}

.join-email-area {
    margin-bottom: 20px;
}

.join-email-area span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    opacity: .8;
}

.join-email-area input[type="email"] {
    width: 100%;
    
    padding: 6px 6px;
    border: 1px solid #0000007a;
    font-size: 15px;
    border-radius: 4px;
}

.join-password-area {
    margin-bottom: 20px;
}

.join-password-area span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    opacity: .8;
}

.join-password-area input[type="password"] {
    width: 100%;
    
    padding: 6px 6px;
    border: 1px solid #0000007a;
    font-size: 15px;
    border-radius: 4px;
}

.cookies-area {
    margin-bottom: 15px;
}

.cookies-area p {
    font-size: 12px;
    text-align: center;
    opacity: .9;
    font-weight: 300;
    line-height: 19px;
    word-spacing: 1px;
}

.cookies-area p span {
    color: #0a66c2;
    font-weight: 500;
}

.cookies-area p span:hover {
    transition: .3s;
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}

.agree-and-joinButton-area {
    margin-bottom: 25px;
}

.agree-and-joinButton-area button span { 
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 14.5px;
}

.agree-and-joinButton-area button {
    width: 100%;
    display: inline;
    padding: 13px;
    border-radius: 28px;
    border: 1px solid #0a66c2;
    background: #0a66c2;
    margin-bottom: 30px;
}

.agree-and-joinButton-area button:hover {
    background: #004182;
    border: 1px solid #004182;
    cursor: pointer;
    transition: .3s;
}


.join-with-google span { 
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 14.5px;
}

.join-with-google button {
    width: 100%;
    display: inline;
    padding: 13px;
    border-radius: 28px;
    border: 1px solid rgba(0,0,0,0.6);
    margin-bottom: 30px;
    background: #fff;
    position: relative;
}

.join-with-google button:hover {
    background: #ecf4fe;
    border: 1px solid #004182;
    cursor: pointer;
    transition: .3s;
}

.join-with-google img {
    width: 18px;
    display: flex;
    float: left;
    align-items: center;
    position: absolute;
    left: 85px;
    bottom: 15px;
}

.agree-and-joinButton-area hr {
    position: relative;
}

.agree-and-joinButton-area strong {
    position: absolute;
    background: #fff;
    padding: 6px 8px;
    border-radius: 50%;
    font-weight: normal;
    left: 50%;
    bottom: 27%;
}

.join-with-google p {
    text-align: center;
    font-size: 16px;
    letter-spacing: .3px;
}

.join-with-google p a {
    color: #0a66c2;
    font-weight: bold;
}

.join-with-google p a:hover {
    text-decoration: underline;
    transition: .2s;
}

.join-3rd-get-help p {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 14px;
    letter-spacing: .3px;
}

.join-3rd-get-help p a {
    color: #0a66c2;
    font-weight: bold;
}

.join-3rd-get-help p a:hover {
    text-decoration: underline;
    transition: .2s;
}




/* validation area */

.join-email-area small {
    font-size: 13.6px;
    display: block;
    margin: 3px 0;
    color: red;
    display: none;
}

.join-email-area strong {
    font-size: 13.6px;
    font-weight: normal;
    color: red;
    margin: 3px 0;
    display: none;
}

.join-password-area small {
    font-size: 13.6px;
    display: block;
    margin: 3px 0;
    color: red;
    display: none;
}

.join-password-area strong {
    font-size: 13.6px;
    font-weight: normal;
    color: red;
    margin: 3px 0;
    display: none;
}

/* #email-small.active {
    display: block !important;
}

#email-strong.active {
    display: block !important;
}

#pass-small.active {
    display: block !important;
}

#pass-strong.active {
    display: block !important;
} */

/* #email.active {
    border: 1.7px solid red;
}

#pass.active {
    border: 1.7px solid red;
} */


.join-title h2 {
    font-weight: 400;
    font-size: 27.5px;
    display: none;
}


.join-password-area {
    position: relative;
}

.join-password-area i {
    position: absolute;
    right: 16px;
    top: 30px;
    cursor: pointer;
}

.join-password-area input[type="text"] {
    width: 100%;
    outline: none;
    padding: 6px 6px;
    border: 1px solid #0000007a;
    font-size: 15px;
    border-radius: 4px;
}









/*----------------------------- Sign in area start -----------------------------
-------------------------------------------------------------------------------*/

.or-strong {
    display: none;
}

.logo-sign {
    margin: inherit;
}

.sign-header {
    padding: 10px 0 15px;
}

.sign-header h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.4px;
    margin-bottom: 5px;
}

.sign-header p {
    font-size: 14px;
    letter-spacing: .4px;
    opacity: .9;
}

.your-class::-webkit-input-placeholder {
    color: red;
}

.login-password-area i {
    top: 8px;
}

.login-sign-up-area {
    background: #fff;
}

.sign-second-part {
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.sign-in-cookies p {
    text-align: left;
    font-size: 16px;
}

.join-with-apple {
    margin-top: -18px;
    margin-bottom: -25px;
}

.join-with-apple p {
    margin-top: -10px;
}

.logo-title-first-part-sign-in {
    margin-bottom: 0;
}

.agree-and-joinButton-area {
    position: relative;
}

strong.or-strong.or-sign-in {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    bottom: -14px;
}






/*------------------------------- Start feed style area---------------------------------
------------------------------------------------------------------------------------- */


/* start feed header area */

header.feed-header-area {
    background: #1d2226;
    padding: 5px 0;
    border-bottom: 1.5px solid hsl(0deg 0% 100% / 12%);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 999;
}

.after-header-all-wrap {
    padding-top: 55px;
    background: #000;
}

.feed-header-whole-wrap {
    color: hsl(0deg 0% 100% / 60%) !important;
}

.feed-header-whole-wrap {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.feed-header-first-logo-part {
    flex-basis: 35%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.feed-header-search-area {
    margin-left: 6px;
    background: #38434f;
    border: 1px solid #38434f;
    border-radius: 4px;
    width: 260px;
    padding: 5px 15px;
    height: 35px;
    display: flex;
    align-items: center;
    transition: .3s;
}

.feed-header-search-area-click {
    width: 305px;
    transition: .3s;
}

input.feed-header-search {
    width: 100%;
    margin-left: 8px;
    background: #38434f;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
}

input.feed-header-search::placeholder {
    color: hsl(0deg 0% 100% / 60%);;
}

.feed-logo a img {
    width: 38px;
    border-radius: 5px;
}

.feed-header-middle-part {
    flex-basis: 45%;
    display: flex;
    /* flex-wrap: wrap; */
}

.single-header-middle-part {
    width: 100%;
    text-align: center;
    /* display: flex;
    flex-wrap: nowrap;
    align-items: center; */
    text-transform: capitalize;
    margin-bottom: -2px;
}


.single-header-middle-part a {
    color: hsl(0deg 0% 100% / 60%) !important;
}

.single-header-middle-part a:hover {
    color: #fff !important;
    transition: .3s;
    cursor: pointer;
}

.single-header-middle-part {
    position: relative;
}

.border-header-for-all {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: -5.4px;
    display: none;
}

.single-header-middle-part.active a span {
    color: #fff;
}

.single-header-middle-part.active a i {
    color: #fff;
}

.single-header-middle-part.active .border-header-for-all {
    display: block;
}

.single-header-middle-part i {
    display: block;
    font-size: 22px;
}

.single-header-middle-part span {
    font-size: 12px;
}

.myprofile-img img {
    width: 25px;
    border-radius: 50%;
}

.single-header-middle-part.myprofile-img span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7px;
}

.myprofile-img {
    border-right: 1.5px solid hsl(0deg 0% 100% / 12%);
}

.single-header-middle-part.myprofile-img:hover {
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.single-header-middle-part i.fas.fa-caret-down {
    margin-left: 2px;
}

.feed-header-last-part {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.single-feed-last-part strong {
    font-size: 12px;
    font-weight: 400;
    color: #f8c77e;
}

.single-feed-last-part a {
    color: hsl(0deg 0% 100% / 60%);
}

.single-feed-last-part a:hover {
    color: #fff;
    transition: .3s;
}

.single-feed-last-part strong:hover {
    color: #e7a33e;
    text-decoration: underline;
    transition: .3s;
}



.single-feed-last-part {
    width: 100%;
    text-transform: capitalize;
   
}

.single-feed-last-part:hover {
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.single-feed-last-part i {
    text-align: center;
    font-size: 22px;
    display: block;
}

.single-feed-last-part span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.single-feed-last-part span>i {
    margin-left: 3px;
}


/* end feed header area */


/*------------------------- start feed body area ------------------------------*/

section.feed-whole-body-area {
    background: #000;
}

.feed-main-body-three-section-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.feed-main-body-left {
    flex-basis: 20%;
    
}
.single-feed-main-body-left {
    background: #1d2226;
    border-radius: 12px;
}

.single-feed-main-body-left:first-child {
    margin-bottom: 30px;
}

.single-profile-cover {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
   
}

.wrap-single-for-profile-cover {
    position: relative;
}

.single-feed-main-body-left-profile-pic img {
    width: 68px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

.single-feed-main-body-left-image-profession-name-wrap {
    padding: 50px 15px 20px;
    text-align: center;
    color: hsl(0deg 0% 100% / 60%);
}

.single-feed-main-body-profession-name-area h1 {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    word-spacing: 0.5px;
}

.single-feed-main-body-profession-name-area span {
    font-size: 11.7px;
    font-weight: 400;
    letter-spacing: .1px;
}

hr.feed-body-left-hr {
    background: hsl(0deg 0% 100% / 12%);
    height: 1px;
    background-color: hsl(0deg 0% 100% / 12%);
    border: none;
}

.who-view-profile-feed-left-wrap {
    color: hsl(0deg 0% 100% / 60%);
    padding: 15px 15px;
    font-size: 12px;
}

.who-view-profile-feed-left-wrap:hover {
    transition: .3s;
    background: #464a4d;
    cursor: pointer;
}

.single-view-feed-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.single-view-feed-left:last-child {
    margin-bottom: 0;
}

.single-view-feed-left strong {
    color: #70b5f9;
}

.access-exclusive-area {
    padding: 15px 15px;
    color: hsl(0deg 0% 100% / 60%);
}

.access-exclusive-area:hover {
    transition: .3s;
    cursor: pointer;
    background: #464a4d;
}

.access-exclusive-area h3 {
    font-size: 11px;
    font-weight: 400;
}

.access-ex-absol-wrap span {
    font-size: 12px;
    margin-left: 18px;
    color: #fff;
}

.access-ex-absol-wrap {
    position: relative;
}

.access-ex-absol-wrap::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 10px;
    background: yellow;
    top: 5.6px;
    border-radius: 1.5px;
}

.my-item-area-body-left {
    padding: 15px 15px;
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    border-radius: 0px 0px 10px 10px;
}

.my-item-area-body-left:hover {
    transition: .3s;
    cursor: pointer;
    background: #464a4d;
}

.single-feed-main-body-left-second-wrap {
    padding: 20px 15px;
}

.each-single-bl-second {
    margin-bottom: 25px;
}

.each-single-bl-second h4 {
    color: hsl(0deg 0% 100% / 90%);
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
}

.my-item-area-body-left span {
    color: #fff;
    margin-left: 10px;
    
}

.my-item-area-body-left span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #70b5f9;
    transition: .3s;
}

.my-item-area-body-left i {
    font-size: 15px;
    cursor: pointer;
    transition: .3s;

}

.single-feed-main-body-left-second-wrap {
    padding: 20px 15px;
}

.each-single-bl-second ul li a {
    font-size: 12px;
    color: hsl(0deg 0% 100% / 60%);
}

.each-single-bl-second ul li {
    margin-bottom: 5px;
}

.each-single-bl-second ul li:last-child {
    margin-bottom: 0px;
}

.each-single-bl-second ul li a i {
    color: #fff;
    font-size: 13px;
    width: 20px;
}

.fa-user-text-small {
    font-size: 11px !important;
}

.each-single-bl-second span {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    margin-left: 22px;
}

.follow-hastag-h5  {
    color: #70b5f9;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
}

.each-single-events-wrap {
    display: flex;
    justify-content: space-between;
}

.each-single-events-wrap h4 {
    color: #70b5f9;
    margin-bottom: 15px;
}

.each-single-events-wrap i {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.eachSingle-bl-Group {
    color: #70b5f9 !important;
}

.eachSingle-bl-Group:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: .3s;
}

.follow-hastag-h5:hover {
    transition: .3s;
    text-decoration: underline;
    cursor: pointer;
}

.each-single-events-wrap h4:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: .3s;
}

.each-single-bl-second:last-child {
    margin-bottom: 0;
}

.discover-more-each-bl-second {
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.discover-more-each-bl-second:hover {
    background: #464a4d;
    transition: .3s;
    cursor: pointer;
}

.each-single-bl-second ul li:hover a {
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.each-single-bl-second span:hover {
    color: #70b5f9;
    transition: .3s;
    text-decoration: underline;
    cursor: pointer;
}

.single-feed-main-body-left:first-child {
    margin-bottom: 5px;
}

.feed-main-body-middle {
    flex-basis: 46%;
    margin: 0 2%;
}

.first-start-post-part {
    background: #1d2226;
    padding: 15px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.single-start-post-part-one {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single-start-post-part-one img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.single-start-post-part-one span {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid hsl(0deg 0% 100% / 40%);
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
}

.single-start-post-part-one span:hover {
    Background: #464a4d;
    transition: .3s;
    cursor: pointer;
}

.single-start-post-part-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

.each-single-post-part-two strong {
    color: #fff;
    font-size: 13.5px;
    margin-left: 8px;
}

.each-single-post-part-two {
    display: flex;
    align-items: center;
}

.each-single-post-part-two i {
    font-size: 23px;
}

.each-single-post-part-two i.fas.fa-image {
    color: #70b5f9;
}

.each-single-post-part-two i.fab.fa-youtube {
    color: #7fc15e;
}

.each-single-post-part-two i.far.fa-calendar {
    color: #dd9d3f;
}

.each-single-post-part-two i.fas.fa-newspaper {
    color: #fc9295;
}

.each-single-post-part-two:hover {
    cursor: pointer;
    transition: .3s;
    background: #464a4d;
}

.for-sort-by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.sort-by-dag {
    width: 81%;
    height: 1px;
    background: hsl(0deg 0% 100% / 12%);
}

.sort-by-main {
    font-size: 12px;
    margin-left: 10px;
}

.sort-by-main span {
    color: hsl(0deg 0% 100% / 60%);
}

.sort-by-main strong {
    color: #fff;
    cursor: pointer;
}

.second-start-post-part-wrap {
    background: #1d2226;
    padding: 15px 15px;
    border-radius: 10px;
    margin-bottom: 10px
}

.comment-on-this-second-part-post {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
    justify-content: space-between;
}

.left-comment-on-this-part {
    display: flex;
    align-items: center;
}

.left-comment-on-this-part img {
    width: 25px;
    margin-right: 10px;
}

.left-comment-on-this-part strong {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-right: 6px;
}

.left-comment-on-this-part span {
    font-size: 12px;
    color: hsl(0deg 0% 100% / 60%);;
}

.right-comment-on-this-part span {
    color: #fff;
    font-weight: 900;
}

.diba-poddar-profile {
    margin-top: 10px;
}

.diba-poddar-profile-wrap-mis {
    display: flex;
    align-items: center;
}

.diba-poddar-profile-left {
    margin-right: 10px;
}

.diba-poddar-profile-left a img {
    border-radius: 50%;
    width: 50px;
}

.diba-poddar-profile-right-first strong a {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.diba-poddar-profile-right-first span {
    font-size: 14px;
    color: hsl(0deg 0% 100% / 60%);

}

.diba-poddar-profile-right-second p {
    font-size: 12px;
    color: hsl(0deg 0% 100% / 60%);
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 3px;
}

.right-comment-on-this-part span {
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}

.diba-poddar-profile-right-third span {
    font-weight: 500;
    font-size: 12px;
    color: hsl(0deg 0% 100% / 60%);
    margin-right: 5px;
    font-weight: bold;
}

.diba-poddar-profile-right-third {
    display: flex;
    align-items: center;
}

.diba-poddar-profile-right-third i {
    color: hsl(0deg 0% 100% / 60%);
    font-weight: bold;
}

p.poddar-caption {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 18px;
    letter-spacing: .2px;
}

.diba-poddar-main-working-success-image a img {
    width: 100%;
    margin: auto;
}

.diba-poddar-main-working-success-image {
    margin-bottom: 10px;
}

.reaction-of-diba-poddar-profile {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.diba-poddar-profile-reaction-left {
    display: flex;
    align-items: center;
}

.original-only-reaction {
    margin-right: 12px;
}

.number-of-reactior span {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    font-weight: 500;
}

.number-of-reactior span:hover {
    transition: .3s;
    cursor: pointer;
    color: #70b5f9;
    text-decoration: underline;
}

.diba-poddar-profile-reaction-right span {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    font-weight: 500;
}

.diba-poddar-profile-reaction-right span:hover {
    transition: .3s;
    cursor: pointer;
    color: #70b5f9;
    text-decoration: underline;
}

.like-comment-share-area {
    margin-top: 10px;
    margin-bottom: 10px;
}

.like-comment-share-area ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.like-comment-share-area ul li {
    padding: 10px 10px;
    border-radius: 5px;
}

.like-comment-share-area ul li:hover {
    transition: .3s;
    cursor: pointer;
    background: #464a4d;
}

.like-comment-share-area ul li a i span {
    margin-left: 5px;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
}

.like-comment-share-area ul li a i {
    color: #fff;
    font-size: 20px;
}

.add-a-comment-section {
    display: flex;
    align-items: center;
}

.add-comment-left-side {
    margin-right: 6px;
}

.add-comment-left-side img {
    border-radius: 50%;
    width: 50px;
}

.add-comment-right-side {
    width: 88%;
    position: relative;
}

.add-a-comment-main-input input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 28px;
    border: 1px solid hsl(0deg 0% 100% / 40%);
    font-size: 14px;
    outline:none;
    background: transparent;
    color: #fff;
}

.add-a-comment-main-input input[type="text"]::placeholder {
    color: hsl(0deg 0% 100% / 60%);
    font-weight: 500;
}

.input-abb-smil-img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.input-abb-smil-img i {
    font-size: 20px;
    color: hsl(0deg 0% 100% / 60%);
    margin-left: 12px;
    font-weight: bold;
}

.input-abb-smil-img i:hover {
    transition: .3s;
    color: #fff;
    cursor: pointer;

}

.middle-most-relevant-comment-area {
    margin: 12px 0;
}

.middle-most-relevant-comment-area p {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.single-comment-and-reply-section {
    display: flex;
}

.single-comment-left-side {
    margin-right: 6px;
}

.single-comment-left-side img {
    width: 40px;
}

.single-comment-right-side-single {
    background: #3c4345;
    width: 100%;
    padding: 12px 10px;
    border-radius: 0px 10px 10px 10px;
}

.single-comment-right-side-wrap {
    width: 90%;
}

.part-one-single-comment-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.left-part-single-right-comment strong {
    color: #fff;
    font-size: 14px;
    letter-spacing: .3px;
    cursor: pointer;
}

.right-part-single-right-comment span {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 60%);
}

.part-two-single-comment-right-side span {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 60%);
}

.part-two-single-comment-right-side p {
    font-size: 13.5px;
    color: hsl(0deg 0% 100% / 90%);
    font-weight: 500;
    letter-spacing: .3px;
    margin-top: 5px;
}

.after-comment-reactions-reply {
    margin: 8px 0 12px;
}

.after-comment-reactions-reply span {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 90%);
    margin-right: 3px;
    cursor: pointer;
}

.after-comment-reactions-reply strong {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 90%);
    margin-left: 5px;
    cursor: pointer;
}

.after-comment-reactions-reply {
    display: flex;
    align-items: center;
}

.load-more-comment {
    margin: 5px 0;
}

.load-more-comment p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.load-more-comment p:hover {
    transition: .3s;
    cursor: pointer;
    background: #3c4345;
}

.feed-main-body-right {
    flex-basis: 30%;
    
}

.feed-main-right-first-follow {
    background: #1d2226;
    padding: 15px 15px;
    border-radius: 10px;
    margin-bottom: 6px;
}

.feed-mRf-follow-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: hsl(0deg 0% 100% / 90%);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .3px;
    margin-top: 10px;
}

.single-feed-mRf-follow-second {
    display: flex;
    margin-bottom: 20px;
}

.left-single-feed-mRf-follow {
    margin-right: 10px;
}

.left-single-feed-mRf-follow a img {
    border-radius: 50%;
    width: 50px;
}

.right-single-feed-mRf-follow p {
    color: hsl(0deg 0% 100% / 90%);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    margin-bottom: 5px;
}

.right-single-feed-mRf-follow span {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .3px;
    margin-bottom: 5px;
    display: block;
}

.feed-middle-main-follow-btn strong {
    padding: 8px 18px;
    border-radius: 28px;
    margin-top: 5px;
    display: inline-block;
    color: hsl(0deg 0% 100% / 90%);
    border: 1px solid hsl(0deg 0% 100% / 90%);
}

.feed-middle-main-follow-btn strong:hover {
    background: #3c4345;
    transition: .3s;
    cursor: pointer;
}

.feed-mRf-follow-third {
    margin: 5px 0 5px;
}

.feed-mRf-follow-third p {
    color: hsl(0deg 0% 100% / 90%);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
}

.feed-mRf-follow-third p:hover {
    transition: .3s;
    cursor: pointer;
    background: #3c4345;
}

.feed-main-right-second-img a img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}

.feed-main-right-third-linkedin-link {
    text-align: center;
}

.feed-main-right-third-linkedin-link-first {
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
}

.feed-main-right-third-linkedin-link-first ul li {
    display: inline-block;
    margin: 4px 5px;
}

.feed-main-right-third-linkedin-link-first ul li a {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 60%);
}

.feed-main-right-third-linkedin-link-first ul li:hover a {
    color:#70b5f9;
    transition: .3s;
    text-decoration: underline;
}

.feed-main-right-third-linkedin-link-second {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(0deg 0% 100% / 90%);
    font-weight: 500;
    letter-spacing: .4px;
    cursor: pointer;
}


/* .feed-main-body-left {
    
    
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
    z-index: 99;
    
    
} 

.feed-main-body-left.hide {
	transform: translateY(-350px);
    
    
}   

.feed-main-body-left.hide0 {
    width: 17%;
    position: fixed;
    transform: translateY(-44%);
    
}

.feed-main-body-middle.hide1 {
    flex-basis: 46%;
    margin: 0 2% !important;
    width: 46%;
    transform: translateX(228px);
    
}

.feed-main-body-right.hide2 {
    flex-basis: 30%;
    position: fixed;
    width: 23.5%;
    right: 9.78%;
    transform: translateY(-53%);
}

*/

.feed-whole-body-area.hide {
    background: #000;
    /* margin-top: -430px; */
    transition: 1.5s;
    max-height: 1030px; 
    overflow: hidden;
}

.feed-whole-body-area.hide .single-feed-main-body-left {
    margin-top: 25px;
}

/* .feed-whole-body-area.hide .single-main-main-body-left-for-fixed {
    visibility: hidden;
    width: 0;
    height: 60px;
} */

.feed-whole-body-area.hide .feed-main-right-first-follow {
    margin-bottom: 45px;
    margin-top: -20px;
}

.feed-main-body-middle-wrap {
    max-height: 1000px;
    overflow-y: scroll;
    
}

.feed-main-body-middle-wrap::-webkit-scrollbar {
    display: none;
}
/*-------------------------- End feed body area -----------------------*/



/*--------------- start for sub section and others -------------*/

.messessing-chat-box-wrap {
    width: 290px;
    background: #1d2226;
    position: fixed;
    bottom:-15px;
    right: 2px;
    padding: 10px 10px;
    border: 1px solid #1d2226;
    border-radius: 5px;
}

.messessing-chat-box-part-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 3px;
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
}

.left-messessing-chat-part-one {
    display: flex;
    align-items: center;
}

.left-messessing-chat-part-one img {
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.chat-box-mess-myprofile-pic-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.chat-box-mess-myprofile-pic-wrap::after {
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    right: 77px;
    border-radius: 50%;
    bottom: 0;
    border: 1px solid #1d2226;
}

.left-messessing-chat-part-one strong {
    color: hsl(0deg 0% 100% / 90%);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
}

.right-messessing-chat-part-two {
    color: hsl(0deg 0% 100% / 90%);
    font-size: 16px;
    cursor: pointer;
}

.right-messessing-chat-part-two i {
    margin-left: 12px;
}

.inputSearch-for-messessing-chat {
    background: #38434f;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.inputSearch-for-messessing-chat i {
    margin-right: 5px;
    cursor: pointer;
}

.inputSearch-for-messessing-chat input[type="text"] {
    width: 89%;
    outline: none;
    background: #38434f;
    border: none;
    font-size: 14px;
    color: #fff;
}

.inputSearch-for-messessing-chat input[type="text"]::placeholder {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 12px;
    letter-spacing: .3px;
}

.inputSearch-for-messessing-chat i {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 14px;
}

.each-single-messessing-chat-part-three {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 4px;
}

.each-single-messessing-chat-part-three:last-child {
    border-bottom: none;
}

.left-messessing-chat-part-three {
    display: flex;
}

.each-single-mess-chat-part-image {
    margin-right: 8px;
    position: relative;
}

.each-single-mess-chat-part-image a img {
    width: 50px;
    border-radius: 50%;
}

.each-single-mess-chat-part-image::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    padding: 2.9px;
    bottom: 5px;
    right: 0px;
    border: 3.5px solid #3ec786;
    background:  #3ec786;
}



.each-single-mes-chat-part-text h5 {
    font-size: 14px;
    color: hsl(0deg 0% 100% / 90%);
    font-weight: 500;
    margin-bottom: 2px;
    letter-spacing: .3px;
}

.each-single-mes-chat-part-text p {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 60%);
}

.right-messessing-chat-part-three span {
    font-size: 13.3px;
    font-weight: 500;
    color: hsl(0deg 0% 100% / 60%);
}

.each-single-messessing-chat-part-three:hover {
    background: #464a4d;
    cursor: pointer;
    transition: .3s;
}

.right-messessing-chat-part-two i.fas.fa-angle-up {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    padding-top: 7px;
}

.right-messessing-chat-part-two i.fas.fa-angle-up:hover {
    background: #38434f;;
    cursor: pointer;
    transition: .3s;
}

.right-messessing-chat-part-two i.fas.fa-angle-down {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    padding-top: 7px;
}

.right-messessing-chat-part-two i.fas.fa-angle-down:hover {
    background: #38434f;;
    cursor: pointer;
    transition: .3s;
}

.messessing-chat-box-whole-wrap-with-out-myProfile {
    height: 0px;
    transition: .3s;
}

.messessing-chat-box-whole-wrap-with-out-myProfile.active {
    height: 500px;
    transition: .3s;
}

.info-icon-add-feed-sec {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.info-icon-add-feed-sec:hover {
    background: #38434f;
}

.for-after-green-bol-point::after {
    background:  #38434f;
}



/*-------------- start me profile area -------------*/

.me-profile-header-after-area-wrap {
    background: #1d2226;
    width: 260px;
    top: 55px;
    right: 20%;
    padding: 10px;
    border-radius: 12px 2px 12px 12px;
    border: 1px solid hsl(0deg 0% 100% / 12%);
    position: absolute;
}

.me-profile-header-after-area-wrap {
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.me-profile-header-after-area-wrap.active {
    visibility: visible;
    opacity: 1;
    transition: .4s;
}

.me-profile-view-part {
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
}

.me-profile-veiw-first-part {
    display: flex;
    /* flex-wrap: wrap; */
}

.me-profile-img a img {
    width: 55px;
    border-radius: 50%;
    margin-right: 5px;
}

.me-profile-after-img-text strong {
    color: #e9e9ea;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
    line-height: 19px;
    text-align: left;
}

.me-profile-after-img-text strong span {
    color: #e9e9ea;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    letter-spacing: .4px;
    font-size: 15.5px;
    text-align: left;
}

.me-profile-view-second-part p {
    text-align: center;
    margin-bottom: 8px;
    border: 1px solid #70b5f9;
    padding: 2px;
    border-radius: 28px;
}

.me-profile-view-second-part p a {
    color: #70b5f9;
    font-size: 14px;
    font-weight: 500;
}

.me-profile-view-second-part p:hover {
    background: #2d3f50;
    cursor: pointer;
    transition: .3s;
}

.me-profile-account-part {
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
    padding: 12px 0 0;
}

.me-profile-account-part h4 {
    color: #e9e9ea;
    font-weight: 500;
    font-size: 15.5px;
    letter-spacing: .3px;
    margin-bottom: 10px;
}

.me-profile-account-part span {
    color: hsl(0deg 0% 100% / 60%);
    display: block;
    font-size: 13.5px;
    margin-bottom: 10px;
}

.me-profile-account-part span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.me-profile-manage-part {
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
    padding: 12px 0 0;
}

.me-profile-manage-part h4 {
    color: #e9e9ea;
    font-weight: 500;
    font-size: 15.5px;
    letter-spacing: .3px;
    margin-bottom: 10px;
}

.me-profile-manage-part span {
    color: hsl(0deg 0% 100% / 60%);
    display: block;
    font-size: 13.5px;
    margin-bottom: 10px;
}

.me-profile-manage-part span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.me-profile-sign-out-part {
    padding: 8px 0;
}

.me-profile-sign-out-part p a {
    color: hsl(0deg 0% 100% / 60%);
    font-size: 14px;
    width: 100%;
    display: block;
}

.me-profile-sign-out-part:hover p {
    background:#2d3f50 ;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    
}

.feed-header-whole-wrap {
    position: relative;
}




/* for fixed header responsive */

.fixed-header-responsive-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1d2226;
    border-bottom: 1px solid hsl(0deg 0% 100% / 12%);
}

.for-fixed-header-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.for-fixed-header-responsive-img img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.for-fixed-header-responsive-img {
    flex-basis: 15%;
}

.for-fixed-header-responsive-input-search {
    flex-basis: 70%;
}

.for-fixed-header-reosponsive-message-area {
    flex-basis: 15%;
    text-align: right;
}

.for-fixed-header-responsive-input-search-wrap {
    background: #38434f;
    padding: 2.5px 15px;
    border-radius: 5px;
    border: 1px solid #38434f;
}

.for-fixed-header-responsive-input-search-wrap i {
    font-size: 20px;
    color: hsl(0deg 0% 100% / 60%) !important;
    margin-right: 10px;
    margin-top: 5px;
}

input.for-fixed-header-search {
    width: 90%;
    padding: 5px 5px;
    outline: none;
    font-size: 15px;
    color: #fff;
    background: #38434f;
    border: none;
}

input.for-fixed-header-search::placeholder {
    color: hsl(0deg 0% 100% / 60%) ;
    font-weight: 500;
    font-size: 16px;
}

.for-fixed-header-reosponsive-message-area i {
    font-size: 25px;
    color: hsl(0deg 0% 100% / 60%);
}

.for-fixed-header-input-main {
    display: flex;
}



.messessing-show-message:hover {
    cursor: pointer;
    transition: .3s;
    color:hsl(0deg 0% 100% / 90%);
}

.messessing-show-message.active {
    color:hsl(0deg 0% 100% / 90%);
}

/*---------------- end for sub section and othes -------------------*/